a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: #fff;
}

.banner-row {
    margin-top: 1%;
}

.banner-img {
    height: 140px;
    width: 100%;
}

.banner-son {
    background-color: #E6DDCB;
    z-index: 9;
    height: 130px;
}

.banner-son-main {
    border: 1px solid black;
    width: 80%;
    height: 60%;
    margin: 4% auto;
    padding: 2px;
    background-color: #D4C5A6;
    text-align: center;
}

.banner-son-main1 {
    width: 100%;
    height: 60%;
    margin: 4% auto;
    padding: 2px;
    background-color: #D4C5A6;
    text-align: center;
}

.banner-son-main img {
    float: left;
    height: 98%;
    width: 20%;
}

.banner-son-main1 img {
    height: 98%;
    width: 25%;
}

.banner-son-2,
.banner-son-1 {
    float: right;
    margin-left: 8%;
}

.banner-son-2 {}

.banner-son-right {
    height: 60px;
    width: 75%;
    float: right;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    border: none;
    opacity: 0.8;
    min-width: 5rem;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    z-index: 3;
}

.dropdown-menu-menu {
    display: none;
    position: absolute;
    top: 0px;
    left: 100%;
    width: 110px;
}

.dropdown-menu-menu1 {
    display: none;
    position: absolute;
    top: -90px;
    left: -67%;
    width: 110px;
}

.my-nav1 a:hover {
    color: #b8b8b8;
    background: #E6DDCB;
    text-align: center;
}

.my-nav1 a {
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 18px;
}

.nav-item {
    color: #fff;
    z-index: 2;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

.dropdown-item {
    padding: 0;
    margin: 0;
}

.dropdown-item:active {
    background-color: none;
}

.dropdown-menu a {
    color: #000;
    margin-left: 0.05rem;
    width: 100%;
    border: 1px solid #000;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu a:hover {
    color: #000;
    background-color: #b8b8b8;
}

.dropdown-menu-menu {
    background: transparent;
}

.dropdown-menu-menu li:hover {
    background-color: #b8b8b8;
}

.dropdown-menu-menu1 {
    background: transparent;
}

.dropdown-menu-menu1 li:hover {
    background-color: #b8b8b8;
}

.dropdown-menu-menu li {
    width: 110px;
    height: 25px;
    border: 1px solid #4D4A5F;
    padding: 0;
    margin: 0;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu-menu1 li {
    width: 100%;
    height: 25px;
    border: 1px solid #4D4A5F;
    padding: 0;
    margin: 0;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu-menu a {
    border: none;
    width: 110px;
    text-align: center;
    height: 18px;
}

.dropdown-menu-menu1 a {
    border: none;
    width: 100%;
    text-align: center;
    height: 18px;
}

#path {
    margin-top: 5px;
    width: 101.7%;
    height: 15px;
    line-height: 15px;
    background-color: #4d4a5f;
    position: relative;
    color: #ffffff;
    font-size: 12px;
    font-family: "宋体";
    font-weight: 600;
    letter-spacing: -1px;
    z-index: 0;
    background-image: url("../images/son/whites.jpg");
    background-repeat: no-repeat;
    background-position: 30px 3px;
}

#path div {
    left: 45px;
}

#path div a {
    color: white;
}

#main {
    left: 23px;
    position: relative;
    width: 100%;
    z-index: 0;
    padding: 25px 13px;
}

#main-center {
    padding: 17px 12px;
    position: relative;
    width: 100%;
    background-color: #e6ddcc;
}

#main-title h2 {
    font-size: 16px;
    color: #5c1711;
    background-color: #d4c5a8;
}

#main-title {
    border: 7px double #5C1711;
}

#main-title img {
    margin-top: 10px;
    width: 60%;
    height: 100%;
    border-width: 6px 6px;
    border-color: white;
    border-style: solid;
}

.main-p {
    width: 99.9%;
    padding: 50px 50px;
}

.main-p p {
    color: #494544;
    font-size: 14px;
    line-height: 28px;
}

.main-ul {
    margin: 60px 0 40px 60px;
}

.main-ul li a {
    font-family: "宋体";
    font-weight: 500;
    font-size: 12px;
    color: #5c1711;
}

.main-ul li {
    margin: 3px;
    line-height: 14px;
    height: 14px;
    padding-left: 15px;
    font-family: "宋体";
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
}

#bottom {
    width: 100%;
    height: 120px;
    position: relative;
    z-index: 9;
    color: #4d4a5f;
    font-size: 12px;
    font-family: "宋体";
    font-weight: 500;
    letter-spacing: 0px;
    left: 15px;
}

.bottom-p {
    width: 100%;
    margin-top: -7px;
    height: 16px;
}

#bottom a {
    color: #4d4a5f;
}

.bottom-border {
    border-style: solid none none none;
    border-width: 1px;
    border-color: #865653;
    height: 0px;
    width: 860px;
}

.bottom-border-a {
    position: relative;
    top: -7px;
    width: 220px;
    padding-left: 5px;
}
#bottom div{
    height: 16px;
}