body {
    background-color: #efebe0;
    
      
        
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.my-body {
    position: relative;
    width: 1000px;
}

.my-body1 {}

.my-main-bottom {
    border: 2px solid #5C1711;
    margin: 10px auto;
    width: 1000px;
    height: 673px;
    float: none;
    z-index: 0;
    margin: 10px auto;
}

.my-top-l {
    width: 60px;
    height: 74px;
    position: absolute;
    top: -2px;
    left: 138px;
    border: 2px solid #99716F;
    padding: 6px 0 0 0;
    background-color: #efebe0;
    opacity: 0.8;
}

.top-l-li a {
    font-family: "宋体";
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0px;
    color: #5c1711;
    line-height: 15px;
    height: 15px;
    display: block;
}

.my-top-r {
    width: 184px;
    height: 52px;
    position: absolute;
    top: -2px;
    left: 287px;
    border: 2px solid #99716F;
    padding-left: 2px;
}

.my-top-r img {
    position: absolute;
    top: 6px;
    left: 118px;
}

.top-r-li {
    width: 57px;
    float: left;
    margin-top: -2px;
}

.top-r-li a {
    font-family: "宋体";
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0px;
    color: #5c1711;
}

.my-line-top-l {
    width: 64px;
    height: 159px;
    position: absolute;
    top: 52px;
    left: 75px;
    border-style: solid none none solid;
    border-width: 2px;
    border-color: #5C1711;
    z-index: 99;
}

.my-line-top-text {
    position: absolute;
    width: 50px;
    height: 15px;
    line-height: 15px;
    top: 51px;
    left: 90px;
}

.my-line-top-text a {
    font-family: "宋体";
    font-weight: 600;
    font-size: 12px;
    color: #5c1711;
    letter-spacing: -1px;
}

.my-line-top-r {
    width: 295px;
    height: 80px;
    top: 60px;
    left: 138px;
    border-style: solid solid none none;
    position: absolute;
    border-width: 2px;
    border-color: #5C1711;
    z-index: -1;
}

.my-line-left-text {
    position: absolute;
    width: 133px;
    height: 15px;
    top: 176px;
    left: 46px;
    font-family: "宋体";
    font-weight: 800;
    font-size: 15px;
    color: #5c1711;
    text-align: center;
    z-index: 99;
}

.my-email {
    position: absolute;
    width: 88px;
    height: 92px;
    top: 240px;
    left: 0px;
    overflow: hidden;
    background-color: #d5c6a9;
    padding-left: 4px;
}

.my-email-text {
    font-family: "宋体";
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0px;
    margin: 3px 0 0 3px;
    padding: 0px;
    color: #5c1711;
    height: 13px;
}

.input3 {
    width: 30px;
    height: 20px;
    font-size: 11px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    cursor: hand;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
}

.input1,
.input2 {
    width: 79px;
    height: 15px;
    font-size: 11px;
}

.my-line-left-l {
    width: 14px;
    height: 107px;
    position: absolute;
    top: 520px;
    left: 72px;
    border-style: none none solid solid;
    border-color: #5c1711;
    border-width: 2px;
}

.my-left-l {
    width: 168px;
    height: 66px;
    position: absolute;
    top: 590px;
    left: 86px;
    border: 2px solid #99716F;
    opacity: 0.8;
}

.left-l-li {
    margin-top: -6px;
    float: left;
    width: 80px;
    padding-left: 15px;
}

.left-l-li div {
    position: absolute;
    top: 5px;
    width: 8px;
    height: 8px;
    background-color: #5c1711;
}

.left-l-li a {
    margin-left: 10px;
    font-family: "宋体";
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0px;
    color: #5c1711;
}

.my-left-l img {
    width: 65px;
    margin-right: 2px;
    margin-left: 10px;
    height: 39px;
}

.my-right-t {
    position: absolute;
    border-style: solid;
    border-width: 2px;
    border-color: #99716F;
    background-color: #efebe0;
    overflow: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8;
    width: 71px;
    height: 198px;
}

.t1 {
    top: 136px;
    right: 7px;
    z-index: -1;
}

.t2 {
    top: 144px;
    right: 0;
}

.t2 li {
    line-height: 16px;
    height: 16px;
    z-index: 2;
}

.t2 li a {
    font-family: "宋体";
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0px;
    color: #5c1711;
    cursor: pointer;
    cursor: hand;
}

.my-right-f {
    position: absolute;
    top: 600px;
    right: 0;
}

.my-right-f p {
    width: 390px;
    height: 15px;
    line-height: 15px;
    display: block;
    font-size: 11px;
    color: #4d4a5f;
    font-family: "宋体";
    font-weight: 500;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
}

.p2 a {
    color: #4d4a5f;
    text-decoration: underline;
    text-decoration-color: #4d4a5f;
}

.p1 {
    border-bottom: 1px solid #5c1711;
}

.main-center {
    width: 820px;
    position: absolute;
    top: 74px;
    left: 90px;
    border: 2px solid #4d4a5f;
}

.main-center1 {}

.my-logo img {
    height: 100px;
    width: 100%;
}

.my-navber {
    position: absolute;
    top: 50px;
    right: 2%;
    z-index: 99;
}

.my-navber a {
    color: #fff;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    border: none;
    z-index: 1000;
    opacity: 0.8;
    min-width: 5rem;
    padding: 0;
    margin: 0;
}

.dropdown-menu-menu {
    display: none;
    position: absolute;
    top: 0px;
    left: 100%;
    width: 110px;
}

.dropdown-menu-menu1 {
    display: none;
    position: absolute;
    top: -90px;
    left: -67%;
    width: 110px;
}

.my-nav1 a:hover {
    color: #b8b8b8;
}

.my-nav1 a {
    font-size: 13px;
    letter-spacing: -1px;
    line-height: 18px;
    margin: 0 -2px 0 -2px;
}

.dropdown-item {
    padding: 0;
    margin: 0;
}

.dropdown-item:active {
    background-color: none;
}

.dropdown-menu a {
    color: #000;
    margin-left: 0.05rem;
    width: 100%;
    border: 1px solid #a83131;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu a:hover {
    color: #000;
    background-color: #b8b8b8;
}

.dropdown-menu-menu {
    background: transparent;
}

.dropdown-menu-menu li:hover {
    background-color: #b8b8b8;
}

.dropdown-menu-menu1 {
    background: transparent;
}

.dropdown-menu-menu1 li:hover {
    background-color: #b8b8b8;
}

.dropdown-menu-menu li {
    width: 110px;
    height: 25px;
    border: 1px solid #a83131;
    padding: 0;
    margin: 0;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu-menu1 li {
    width: 100%;
    height: 25px;
    border: 1px solid #a83131;
    padding: 0;
    margin: 0;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu-menu a {
    border: none;
    width: 110px;
    text-align: center;
    height: 18px;
}

.dropdown-menu-menu1 a {
    border: none;
    width: 100%;
    text-align: center;
    height: 18px;
}

.study-in {
    background-color: #d5c6a9;
    z-index: 1;
    float: left;
    width: 100%;
    margin-top: 10px;
}

.study-in header {
    font-family: "宋体";
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0;
    color: #5c1711;
    line-height: 14px;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
    width: 100%;
    
}

.study-in p {
    line-height: 14px;
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    text-align: left;
}

.study-in p a {
    color: #4d4a5f;
    font-size: 11px;
    font-family: "宋体";
    font-weight: 500;
    letter-spacing: 0px;
    z-index: 99999;
}


.car {
    padding-left: 0;
}

.car1 {
    padding: 0;
}

.inform {
    background-color: #e6ddcc;
    z-index: 1;
    float: left;
}

.inform span {
    line-height: 15px;
    font-family: "宋体";
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0px;
    color: #5c1711;
    width: 75px;
    float: left;
}

.inform span a {
    font-weight: 500;
    color: #4d4a5f;
}

.banner {
    background-color: #540904;
    margin:5px 0 0 0 ;
}

.banner-tite {
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    color: #cdbd9b;
}

.banner img {
    width: 100%;
    height: 205px;
}

.carousel-indicators li {
    width: 8px;
    height: 8px;
    margin: 3px;
    background: url(../images/p09.png);
    background-repeat: no-repeat;
}

.carousel-indicators .active {
    background-color: #494544;
}

.carousel-indicators {
    position: absolute;
    left: auto;
    margin-right: 10px;
}

.carousel-item div {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 25px;
    color: #cdbd9b;
    font-size: 11px;
    line-height: 25px;
    font-weight: bold;
}

.my-nav2 {
    background-color: #D7C5C5;
    margin: 5px 0 0 3%;
    
}

.my-nav2 a {
    color: #464358;
    border-color: #D7C5C5;
    letter-spacing: -1px;
    margin: 0 -7px 0 0;
    font-size: 12px;
    line-height: 18px;
    width: 60px;
}

.dropdown-menu2 a {
    width: 100%;
}

.my-nav2 .dropdown-menu a {
    background-color: #fff;
}

.dropdown-menu2 a:hover {
    background-color: #ccc;
}

.my-news {
    padding: 0 3% 0 3%;
    margin-top: 5px;
}

.news {
    background-color: #e6ddcc;
    z-index: 1;
    height: 100%;
}

.news span a {
    font-family: "宋体";
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0px;
    color: #5c1711;
    line-height: 15px;
    height: 15px;
    display: block;
}

.news-img img {
    width: 90%;
    margin-left: 5%;
}

.news-text {
    margin-top: 65px;
}

.news-text a {
    color: #4d4a5f;
    font-family: "宋体";
    font-size: 11px;
    line-height: 17px;
}

.news-text li {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-friends {
    margin-top: 5px;
}

.friends-title {
    background-color: #5c1711;
}

.friends-title a {
    color: #fff;
    font-family: "宋体";
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0px;
    line-height: 22px;
}

.friends-img {
    margin-top: 5%;
}

.friends-img div {
    width: 53.5px;
}

.friends-img img {
    width: 53.5px;
    height: 53.5px;
}

.international {
    z-index: 1;
    background-color: #e6ddcc;
    padding: 0 1% 0 1%;
    float: left;
    width: 100%;
    border: 0;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 100%;
}

.international a {
    font-family: "宋体";
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0px;
    color: #5c1711;
    line-height: 15px;
    height: 15px;
    display: block;
    padding: 0;
}

.international-title {
    height: 15px;
}

.international-content img {
    
    width:80px ;
    height:60px;
}
.international1{
    margin-top: 3%;
}
.international2{
    float: right;
    margin-top: 0.5%;
}

.international-main {
    float: left;
    margin-left: 110px;
    margin-top: -3%;
}

.international-main li {
    overflow: hidden;
    text-overflow: ellipsis;
}

.international-main-bottom{
     border-top: 2px solid #5C1711;
     padding-top: 5px;
}
   


.international-main-bottom td {
    font-family: "宋体";
    font-weight: 500;
    font-size: 11px;
    color: #4d4a5f;
    line-height: 18px;
    height: 18px;
    letter-spacing: 0px;
    

}

.international-main-bottom a {
    font-family: "宋体";
    font-weight: 500;
    font-size: 11px;
    color: #4d4a5f;
}
.international-date{
    padding: 0 8px 0 35px;
}

/* 校园公示栏 */
.notice {
    margin-top: 15px;
    border-style: none;
    border-width: 0px;
    z-index: 1;
    background-color:  #e6ddcc;    
    float: left;
    margin-bottom: 2%;
}
.notice-top a{
    
    font-family: "宋体";
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0px;
    color: #5c1711;
    line-height: 15px;
    height: 15px;
    display: block;    

}
.notice-img {
    margin-top: 20px;
    float: left;
    width: 35%;
}
#notice-right {
    width: 60%;
    height: 82px;
    overflow: hidden;
    float: left;   
}

#notice-right li {
    float: left;
    list-style-type: square;
    list-style-position: inside;
}
#notice-right li a {
    font-family: "宋体";
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #4d4a5f;
}
